<app-header />

<div class="bestFriendo">
    <h1>Você está certa!</h1>

    <p>Querida VV, mais conhecida como V^2, Vicky, Verônica Victória Feitosa Pires, Verônica ou V,</p>

    <p>
        Você já conhece a minha pessoa e minha dificuldade em me expressar com palavras (prefiro colocar meus sentimentos em gestos e ações), por isso vou me manter breve.
        No começo de 2023 eu não esperava te reencontrar e muito menos que voltariamos a sermos amigos, but it turns out, que isso foi <strong>de longe</strong>
        uma das melhores coisas a acontecerem nesses 12 meses pra mim.
    </p>

    <p>
        Posso não demonstrar as vezes mas a sua amizade pra mim é extremamente importante e faz a minha vida melhor. Espero que continue a me aturar e ser minha amiga.
    </p>

    <p>Nunca me expressei dessa forma pra ninguém. Muito Obrigado! ❤️🌵</p>

</div>