<app-header />

<div class="cacti">
    <h3>Péssima Playlist</h3>
    <a href="https://open.spotify.com/playlist/3sMsSxz34a4zUbXhexHgvS?si=Bv0SNt8yRgy8pnB-gM9zuA">playlist🌵</a>

    <h3>Alguns filmes com vibe 🌵</h3>
    <img src="./assets/Rango(60x90).jpg" alt="Poster de Rango" title="Rango (2011)"/>
    <img src="./assets/O Auto da Compadecida(64x90).png" alt="Poster de OADC" title="O Auto da Compadecida (2000)"/>
    <img src="./assets/Mad Max.jpg" alt="Poster de Mad Max" title="Mad Max (1979)"/>
    <img src="./assets/Lawrence of Arabia.jpg" alt="Poster de Lawrence of Arabia" title="Lawrence of Arabia (1962)"/>

    <h3>Como cuidar de um Cacto</h3>

    <p>Vídeo 1</p>
    <a href="https://youtu.be/u_ggctTNcmA?si=Vh5KhhKuDOvf0Ag_">Como cuidar de mini cactos | Como regar, substrato, luz e mais</a>
    <br>
    <p>Vídeo 2</p>
    <a href="https://youtu.be/busgz138Wyo?si=Zrw4QkEqTGWaBmgZ">5 COMMON MISTAKES IN CACTUS CARE</a>

    
</div>
