/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    button {
        cursor: pointer;
    }
}

:root {
    --primary: #18ee34;
    --body: #fff;
    --text-menu: #fff;
    --text-body: #4b4b4b;
}

:root .dark-theme {
    --primary: #00e6bc;
    --body: #4b4b4b;
    --text-menu: #fff;
    --text-body: #fff;
}

body {
    background-color: var(--body);
  }
  
  .container {
    width: 800px;
    margin: 0 auto;
  
    h1 {
      font-weight: 700;
      font-size: 25px;
      margin: 50px 0 10px;
    }
  
    p {
      margin-top: 20px;
      font-weight: 400;
      font-size: 16px;
    }
  
    h1,
    p {
      color: var(--text-body);
    }

  }

  .bestFriendo, .cacti {
    width: 800px;
    margin: 0 auto;
  
    h1 {
      font-weight: 700;
      font-size: 50px;
      margin: 70px 0 0;
      text-align: center; /* Centers text inside h1 */
      display: inline-block; /* Allows setting a width and centering with margin */
      width: 100%; /* Ensures full width for centering */
    }
  
    p {
      margin-top: 20px;
      font-weight: 400;
      font-size: 16px;
    }
  
    h1,
    p {
      color: var(--text-body);
    }

  }

  .cacti {
    h3 {
      margin-top: 50px;
      margin-bottom: 20px;
      font-weight: 700;
      color: var(--text-body);
    }

    a {
      margin-bottom: 10px;
    }

    img {
      margin-right: 10px;
    }
  }
  

  #cacto {
    background: none;
    cursor: pointer;
  }

  #tema {
    background: none;
    cursor: pointer;
  }